Source: ros-foxy-building-map-tools
Section: misc
Priority: optional
Maintainer: Morgan Quigley <mquigley@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-building-map-msgs, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-building-map-tools
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-requests, python3-shapely, ros-foxy-ament-index-python, ros-foxy-building-map-msgs, ros-foxy-rclpy, ros-foxy-std-msgs, ros-foxy-ros-workspace
Description: Building map tools
